export PGDATABASE=NoSQL
export PGHOST=localhost
export PGPORT=5435

export PG_CONTAINER_NAME=NoSQLPG
export ENV=dev
export MG_CONTAINER_NAME=NoSQLMG
export MGPORT=27017
source_env .secrets

layout poetry
